<div class="head">
	<nav>
		<a routerLink="/">Add News</a>
	</nav>

</div>
<div class='box'>
	<form [formGroup]="form">
    <label class = 'a'>Name: </label><br>
		<textarea class = 'a' cols="28" formControlName="name"></textarea><br>
		<label class = 'a'>Text: </label><br>
		<textarea class = 'a' cols="28" formControlName="text"></textarea><br>
		<label class = 'a'>Image address: </label><br>
		<textarea class = 'a' cols="28" formControlName="img" ></textarea><br>
		<label class = 'a'>Password: </label>
		<input class = 'a' type="text" formControlName="key" size ='16'><br>
		<input type="submit"  value="Add"(click) = "onNews()"><br>
	</form>
</div>