nav a {
  text-decoration: none;
  color: #1aa3ff;
}
nav a:hover {
  color: #1aa3ff;
  text-decoration: underline;
}
.head {
  color: #1aa3ff;
  display: flex;
  padding: 10px;
}
.box {
  background-color: white;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0px 10%;
}
.a {
  margin: 10px 0px;
}
