<div class="head">
	<nav>
		<a routerLink="/">Add News</a>
	</nav>

</div>
<div class='box'>
	<form [formGroup]="form">
		<label class = 'a'>Name: </label><br>
		<textarea class = 'a' cols="100" rows="3" formControlName="name"></textarea><br>
		<label class = 'a'>Text: </label><br>
		<textarea class = 'a' cols="100" rows="20" formControlName="text"></textarea><br>
		<label class = 'a'>Data source: </label><br>
		<textarea class = 'a' cols="100" rows="2" formControlName="dataSource" ></textarea><br>
		<input class = 'a' type="file" formControlName="img" (change)="fileChange($event)"><br>
		<label class = 'a'>Password: </label>
		<input class = 'a' type="password" formControlName="key" size ='88'><br>

		<input type="submit"  value="Add"(click) = "onNews()"><br>
	</form>
</div>