nav a {
  text-decoration: none;
  color: #1aa3ff;
  font-size: 20px;
}
nav a:hover {
  color: #1aa3ff;
  text-decoration: underline;
}
.head {
  color: #1aa3ff;
  display: flex;
  padding: 10px;
}
.box {
  background-color: white;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0px 25%;
}
.a{
  margin: 5px 0;
}