.head {
  display: flex;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: #1aa3ff;
  font-size: 20px;
}
nav a:hover {
  color: #1aa3ff;
  text-decoration: underline;
}
.img {
  display: flex;
  justify-content: center;
  padding: 50px;
}
