.head {
  display: flex;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: #911D1D;
}
nav a:hover {
  color: #911D1D;
  text-decoration: underline;
}
.img {
  display: flex;
  justify-content: center;
  padding: 50px;
}
