.head {
  font-size: 25px;
  color: #ab0303;
  
}

.content {
  display: flex;
  margin: 10px 100px;
  border-radius: 10px;
  padding: 20px 50px;
  background-color: #fdf6f6;
  border: 1px solid #541212;
}
.a {
  font-size: 20px;
  display: flex;

  justify-content: space-between;
}

.date {
  color: gray;
}
.news {
  margin: 10px;
}

.btn-cover {
  margin-left: auto;
}

.text {
  flex: 1;
}
.b {
  background-color: #ffe0e0;
}
.c {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}
