nav a {
  text-decoration: none;
  color: #1aa3ff;
}
nav a:hover {
  color: #1aa3ff;
  text-decoration: underline;
}
.head {
  color: #1aa3ff;
  display: flex;
  padding: 10px;
}
.body {
  margin: 50px;
}
.date {
  color: red;
}
.name {
  color: #2e2b2b;
  font-size: 50px;
}
.top {
  margin: 20px 0;
}
.text {
  margin: 20px 50px;
  font-size: 23px;
}
.img {
  display: flex;
  justify-content: center;
}

.ds {
  margin: 50px 150px;
  color: blue;
}
