nav a {
  text-decoration: none;
  color: #911d1d;
}
nav a:hover {
  color: #911d1d;
  text-decoration: underline;
}
.head {
  color: #871d1d;
  display: flex;
  padding: 10px;
  margin: auto;
}
.body {
  margin: 50px;
}
.date {
  color: #541212;
  font-size: 25px;
}
.name {
  color: #541212;
  font-size: 50px;
}
.top {
  margin: 20px 0;
}
.text {
  margin: 20px 50px;
  font-size: 23px;
  color: #8a1919;
}
.img {
  display: flex;
  justify-content: center;
}

.ds {
  margin: 50px 150px;
  color: #541212;
}
.add_c {
  padding: 50px 0;
}
.content{
  background-color: #fdf6f6;
  margin: 0px, 10px;
  padding: 5px 200px;
}