<div class="head">
	<nav>
		<a routerLink="/">Dota 2</a> > {{news.name}}
	</nav>
</div>
<div class='body'>
	<div class="date top">{{news.date}}</div>
	<div class="name top"><b> {{news.name}}</b></div>
	<div class="img">
		<img
      class="img-responsive"
      src="{{news.img}}"
      alt="Dota2"
      width="720px"
      height="480px"
    />
  </div>
		<div class='text' *ngFor="let t of list">


			<div class="text">&emsp;{{t}}</div>

		</div>

	</div>
	<div class='ds'>
		<div>ที่มา: {{news.dataSource}}</div>
	</div>
	<div>
		<app-add-comment></app-add-comment>
	</div>
	<app-display-comment></app-display-comment>
	<div class="container" *ngFor="let cm of comment">
		<app-display-comment [comment]="cm"></app-display-comment>
	</div>