.content {
  background-color: #fdf6f6;
  border: 1px solid #541212;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  color: #ab0303;
}
.head{
  display: flex;
  justify-content: space-between;
}