.Home {
  background-color: #ffb7b7;
}
.head {
  background-color: #b71c1c;
  color: #dcdada;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.body {
  display: flex;
  justify-content: center;
}
.a {
  font-size: 75px;
  padding: 10px 0;
  display: flex;
}
.content {
  width: 1280px;
  background-color: #f3fafd;
}
.tap {
  display: flex;
  background-color: #2e2c2c;
}

nav {
  display: flex;
}
nav a {
  padding: 10px 10px;
  text-decoration: none;
  color: #eeaeaa;
  font-size: 20px;
}
nav a:hover {
  background-color: #b71c1c;
  color: #dcdada;
  text-decoration: underline;
}
