<div class="Home">

	<div class="tap">
		<div class="img news">
			<img
      class="img-responsive"
      src="https://i.pinimg.com/originals/e6/99/fb/e699fb7cd6ce72d00445fac66fdfc997.jpg"
      alt="Dota2"
      width="39"
      height="39"
    />
  </div>

			<nav>
				<a routerLink="/">DOTA 2</a>
				<a routerLink="/add-news">Add News</a>
			</nav>
		</div>
		<div class='head'>
			<div class='a'><b>DOTA 2 NEWS</b></div>
		</div>
		<div class='body'>
			<div class='content'>
				<router-outlet></router-outlet>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
	</div>
			</div>
		</div>