.Home {
  background-color: #d4ecf8;
}
.head {
  background-color: #86d0f0;
  display: flex;
  justify-content: center;
  margin: 0 20%;
  padding: 50px;
}
.a {
  font-size: 50px;
  margin: 0 20%;
  padding: 10px 0;
  display: flex;
}
.content{
  margin: 0 20%;
  background-color: #f3fafd;
}
